#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}

#nav-bar {
  background-color: rgb(115, 128, 0);
  height: 50px;
  width: 100%;
}

#nav-bar:hover {
  background-color: salmon;
}

/* specificity */
#nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#footer {
  background-color: salmon;
  height: 50px;
  text-align: center;
  width: 100%;
}

.random:hover {
  box-shadow: inset 300px 0 0 0  rgb(238, 140, 123);
  cursor: pointer;
  /* transform: translateY(-2px); */
  color: black;
}

#button:hover {
  box-shadow: inset 300px 0 0 0  rgb(238, 140, 123);
  cursor: pointer;
  /* transform: translateY(-2px); */
  color: black;

}